@model EblueWorkPlan.Models.Project;
@{
    ViewData["Title"] = "Page0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="_Sidebar2" />


<header>
    <h1>Project Number : @Model.ProjectNumber</h1>
</header>



<h3>Project Details Page</h3>
<br />
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="true"><i class="fa-solid fa-0" style="color: #2267dd;"></i></button>
        <button class="nav-link " id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="false"><i class="fa-solid fa-1" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-2" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-laboratory-tab" data-bs-toggle="tab" data-bs-target="#nav-laboratory" type="button" role="tab" aria-controls="nav-laboratory" aria-selected="false"><i class="fa-solid fa-3" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-analytical-tab" data-bs-toggle="tab" data-bs-target="#nav-analytical" type="button" role="tab" aria-controls="nav-analytical" aria-selected="false"><i class="fa-solid fa-4" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-sciproject-tab" data-bs-toggle="tab" data-bs-target="#nav-sciproject" type="button" role="tab" aria-controls="nav-sciproject" aria-selected="false"><i class="fa-solid fa-5" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-otherpersonel-tab" data-bs-toggle="tab" data-bs-target="#nav-otherpersonel" type="button" role="tab" aria-controls="nav-otherpersonel" aria-selected="false"><i class="fa-solid fa-6" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-gradass-tab" data-bs-toggle="tab" data-bs-target="#nav-gradass" type="button" role="tab" aria-controls="nav-gradass" aria-selected="false"><i class="fa-solid fa-7" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-fund-tab" data-bs-toggle="tab" data-bs-target="#nav-fund" type="button" role="tab" aria-controls="nav-fund" aria-selected="false"><i class="fa-solid fa-8" style="color: #2267dd;"></i></button>
        <button class="nav-link" id="nav-budget-tab" data-bs-toggle="tab" data-bs-target="#nav-budget" type="button" role="tab" aria-controls="nav-budget" aria-selected="false"><i class="fa-solid fa-9" style="color: #2267dd;"></i></button>
         <button class="nav-link" id="nav-notes-tab" data-bs-toggle="tab" data-bs-target="#nav-notes" type="button" role="tab" aria-controls="nav-notes" aria-selected="false" asp-action="Page9" asp-controller="Projects"><i class="fa-solid fa-1" style="color: #2267dd;"></i><i class="fa-solid fa-0" style="color: #2267dd;"></i> </button>


    </div>
</nav>
<div class="tab-pane fade show active" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab" tabindex="0">
    <div class="row g-3">


        <form asp-action="Page0">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input id="projectId" type="hidden" asp-for="ProjectId" />
            <div class="card">

                <div class="card-header">Project Template</div>


                <div class="card-body">

                    <div class="row">
                        <div class="col-12">
                            <label asp-for="ProjectTitle" class="control-label"></label>
                            <input asp-for="ProjectTitle" class="form-control" disabled />
                            <span asp-validation-for="ProjectTitle" class="text-danger"></span>
                        </div>

                        <div class="col-6">
                            <label asp-for="ProjectNumber" class="control-label"></label>
                            <input asp-for="ProjectNumber" class="form-control" disabled />
                            <span asp-validation-for="ProjectNumber" class="text-danger"></span>



                        </div>

                        <div class="col-6">
                            <label asp-for="RosterId" class="control-label">Principal Investigator</label>
                            <select asp-for="RosterId" class="form-control" asp-items="ViewBag.rosterItems" disabled></select>
                        </div>
                    </div>



                    <div class="row">
                        
                        <div class="col-6">
                            <label asp-for="DepartmentId" class="control-label">Department</label>
                            <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentItem" disabled></select>
                        </div>

                        <div class="col-6">
                            <label asp-for="CommId" class="control-label">Commodity</label>
                            <select asp-for="CommId" class="form-control" asp-items="ViewBag.CommoditiesItem" disabled></select>
                        </div>

                        
                    </div>

                    <div class="form-group">
                        <label asp-for="ProgramAreaId" class="control-label">Program Area</label>
                        <select asp-for="ProgramAreaId" class="form-control" asp-items="ViewBag.ProgramAreaItem" disabled></select>
                    </div>


                    <div class="row">
                         
                        <div class="col-6">
                            <label asp-for="Substation" class="control-label"></label>
                            <input asp-for="Substation" class="form-control" disabled />
                        </div>

                        <div class="col-6">
                            <label asp-for="FiscalYearId" class="control-label">Fiscal Year</label>
                            <select asp-for="FiscalYearId" class="form-control" asp-items="ViewBag.FiscalYearItem" disabled></select>
                        </div>
                        

                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label asp-for="ContractNumber" class="control-label"></label>
                            <input asp-for="ContractNumber" class="form-control"  />
                            <span asp-validation-for="ContractNumber" class="text-danger"></span>
                        </div>
                        <div class="col-6">
                            <label asp-for="Orcid" class="control-label">Account Number</label>
                            <input asp-for="Orcid" class="form-control"  />
                            <span asp-validation-for="Orcid" class="text-danger"></span>
                        </div>
                       


                    </div>

                 

                  

                    <div class="form-group">
                        <label asp-for="FundTypeId" class="control-label"></label>
                        <select asp-for="FundTypeId" class="form-control" asp-items="ViewBag.FundTypeItem" disabled></select>
                    </div>


                    <div class="form-group">
                        <label asp-for="PorganizationsId" class="control-label"></label>
                        <select asp-for="PorganizationsId" class="form-control" asp-items="ViewBag.POrganizationItem" disabled></select>
                    </div>


                </div>

                <div class="card-footer">

                    <div class="form-group">
                        <input type="submit" value="Next" class="btn btn-primary " asp-route-ProjectId="ProjectId" />
                    </div>

                    @*<a asp-action="ReportView" asp-controller="Projects" class="btn btn-success" asp-route-id="@Model.ProjectId">Report View</a>*@
                </div>

            </div>
        </form>
    </div>
</div>



@section scripts{

    <script>

        $(function (){
            
            $("#nav-details-tab").click(function() {
                
                const params = {
                    ProjectId: $("#projectId").val()
                }

                $.ajax({
                    type: "POST",
                    url: '/Projects/RedirectP0',
                    data: params,
                    success: function () {
                        alert('Entre');

                    },
                    dataType: 'json'



                });
            
            });
        
        });



    </script>




}