@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center flex-row">
    <h1 class="display-4">Welcome</h1>
    <h2>Estación Experimental Agrícola </h2>
    <p>WorkPlan Plataform</p>
  

    <div class="card">
        <div class="card-body">
            <h1 class="text-md-center">Visualize your projects here!</h1>
            <a class="btn btn-secondary " asp-area="" asp-controller="Home" asp-action="Print" target="_blank">Print</a></li>

        </div>
    </div>

 
</div>
