@model EblueWorkPlan.Models.Role

@{
    ViewData["Title"] = "Edit";
}

<partial name="_Sidebar2" />



<h1>Edit</h1>

<h4>Role</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RolesId" />
            <div class="form-group">
                <label asp-for="Rname" class="control-label"></label>
                <input asp-for="Rname" class="form-control" />
                <span asp-validation-for="Rname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsResearchDirector" class="control-label"></label>
                <input asp-for="IsResearchDirector" class="form-control" />
                <span asp-validation-for="IsResearchDirector" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsExecutiveOfficer" class="control-label"></label>
                <input asp-for="IsExecutiveOfficer" class="form-control" />
                <span asp-validation-for="IsExecutiveOfficer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAdministrativeOfficer" class="control-label"></label>
                <input asp-for="IsAdministrativeOfficer" class="form-control" />
                <span asp-validation-for="IsAdministrativeOfficer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsExternalResources" class="control-label"></label>
                <input asp-for="IsExternalResources" class="form-control" />
                <span asp-validation-for="IsExternalResources" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
