@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<header>
    @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">EblueWorkPlan</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
    </li>

    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Rosters" asp-action="Index">Rosters</a>
    </li>

    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Rosters" asp-action="Index" >Admin</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Porganizations" asp-action="Index">POrganizations</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="FieldWorks" asp-action="Index">Field Work</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="GradAsses" asp-action="Index">GradAss</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Funds" asp-action="Index">Funds</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Commodities" asp-action="Index">Commodity</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Locationns" asp-action="Index">Locations</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="FiscalYears" asp-action="Index">Fiscal Year</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>

    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="FundTypes" asp-action="Index">FundTypes</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Projects" asp-action="WorkplanPage1">FundTypes</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="SciProjects" asp-action="Create">Sci</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="OtherPersonels" asp-action="Create">Other</a></li>
    <li><a class="dropdown-item text-dark" asp-area="" asp-controller="Funds" asp-action="Create">Funds</a></li>


    </ul>
    </li>
    </ul>
    </div>
    </div>
    </nav>*@

    @*SideBar Section *@






</header>
