<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link active" aria-current="page">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
                Home
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
                Orders
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
                Products
            </a>
        </li>
        <li>
            <a href="#" class="nav-link text-white">
                <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
                Customers
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>mdo</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="d-flex flex-column justify-content-between col-auto bg-dark min-vh-100">
            <div class="mt-4">
                <a class="text-white d-none d-sm-inline text-decoration-none d-flex align-items-center ms-4" role="button" asp-action="Index" asp-controller="Home" asp-area="">

                    <span class="fs-5">WorkPlan</span>
                </a>

                <hr class="text-white d-none d-sm-block">
                <ul class="nav nav-pills flex-column mt-4 mt-sm-0  " id="menu">
                    <li class="nav-item">
                        <a class="nav-link text-white text-center text-sm-start " aria-current="page" asp-action="Index" asp-controller="Projects" asp-area="">
                            <i class="fa fa-gauge"></i>
                            <span class="ms-2 d-none d-sm-inline">Proyects</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link text-white my-sm-1 my-2 text-center text-sm-start" aria-current="page">
                            <i class="fa fa-house"></i>
                            <span class="ms-2 d-none d-sm-inline">Home</span>

                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#sidemenu" data-bs-toggle="collapse" class="nav-link text-white my-sm-1  my-2 text-center text-sm-start" aria-current="page">
                            <i class="fa fa-table"></i>
                            <span class="ms-2 d-none d-sm-inline">Dashboard</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="nav collapse ms-1  flex-column" id="sidemenu" data-bs-parent="#menu">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#" aria-current="page">Link1</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#">Link2</a>
                            </li>
                            <li class="nav-item ">
                                <a class="nav-link text-white" href="#">Link3 </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="#sidemenu2" data-bs-toggle="collapse" class="nav-link text-white my-sm-1 my-2 text-center text-sm-start" aria-current="page">
                            <i class="fa fa-users"></i>
                            <span class="ms-2 d-none d-sm-inline">Services</span>
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="nav collapse ms-1  flex-column" id="sidemenu2" data-bs-parent="#menu">
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#" aria-current="page">Link1</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Link2</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" href="#">Link3 </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div>

                <div class="dropdown open">
                    <a class="btn border-none outline-none text-white dropdown-toggle" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <i class=" fa fa-user"></i> <span class="ms-1 d-none d-sm-inline">User</span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="triggerId">
                        <a class="dropdown-item" href="#">Profile</a>
                        <a class="dropdown-item " href="#">Data</a>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>
