@model EblueWorkPlan.Models.GradAss

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GradAss</h4>
<hr />

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">

        <div class="card-header">Laboratory </div>


        <div class="card-body">

            <div class="row">

                <div class="form-group">
                    <label asp-for="Gname" class="control-label"></label>
                    <input asp-for="Gname" class="form-control" />
                    <span asp-validation-for="Gname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Thesis" class="control-label"></label>
                    <input asp-for="Thesis" class="form-control" />
                    <span asp-validation-for="Thesis" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectsItem"></select>
                </div>
                <div class="form-group">
                    <label asp-for="StudentId" class="control-label"></label>
                    <input asp-for="StudentId" class="form-control" />
                    <span asp-validation-for="StudentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleId" class="control-label"></label>
                    <input asp-for="RoleId" class="form-control" />
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StudentName" class="control-label"></label>
                    <input asp-for="StudentName" class="form-control" />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
               

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </div>
</form>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
