
@{
    ViewData["Title"] = "Signin";
}

﻿@if (ViewData.Keys.Contains("mensaje"))
{
    <p style="color: red">
        @ViewData["mensaje"]
    </p>
}



@model EblueWorkPlan.Models.ViewModels.UserViewModel
<div class="text-center">

    <main class="form-signin">
        <form asp-controller="Login" asp-action="Signin" method="post">
            <div class="card">
                <div class="card-header">

                    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
                </div>

                <div class="card-body">

                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/UPR_Logo.svg/2560px-UPR_Logo.svg.png" width="200" height="150" style="padding-bottom:10px;" />


                    <div class="row">
                        <div class="col-12">

                            <a class="btn btn-success" asp-action="LoginExterno" asp-route-proveedor="Microsoft">Continuar con Microsoft</a>

                            <div class="form-floating">
                                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" asp-for="Email">
                                <label for="floatingInput">Email address</label>
                            </div>
                                <div class="form-floating">
                                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password" asp-for="Password">
                                    <label for="floatingPassword">Password</label>
                                </div>

                            <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
                         </div>
                    </div>






                </div>

            </div>



        </form>
    </main>





</div>