@model EblueWorkPlan.Models.OtherPersonel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>OtherPersonel</h4>
<hr />



<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="card">

        <div class="card-header">Laboratory </div>


        <div class="card-body">

            <div class="row">


                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PerTime" class="control-label"></label>
                    <input asp-for="PerTime" class="form-control" />
                    <span asp-validation-for="PerTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <select asp-for="ProjectId" class="form-control" asp-items="ViewBag.ProjectsItem"></select>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label"></label>
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationItem"></select>
                </div>
                <div class="form-group">
                    <label asp-for="RosterId" class="control-label"></label>
                    <select asp-for="RosterId" class="form-control" asp-items="ViewBag.RosterItem"></select>
                </div>
                <div class="form-group">
                    <label asp-for="PersonnelManAdded" class="control-label"></label>
                    <input asp-for="PersonnelManAdded" class="form-control" />
                    <span asp-validation-for="PersonnelManAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RoleManAdded" class="control-label"></label>
                    <input asp-for="RoleManAdded" class="form-control" />
                    <span asp-validation-for="RoleManAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>

            </div>
            

        </div>
        </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
